<div [formGroup]="form" [class.form-floating]="control.style?.floating">
	<godzilla-forms-label-controller
		*ngIf="labelPosition(control) == 'top'"
		[control]="control"></godzilla-forms-label-controller>

	<select
		class="form-select"
		[id]="control.id"
		[formControlName]="controlName"
		[value]="control.value.defaultValue"
		[attr.hidden]="control.options?.hidden == true ? '' : null"
		[attr.disabled]="control.options?.disabled == true ? '' : null"
		[ngClass]="{ 'is-invalid': submitted && form.get(controlName)!!.invalid }"
		[attr.required]="control.validators?.required == true ? '' : null">
		<option
			*ngFor="let option of control.value.valueOptions"
			[value]="option.value"
			[selected]="control.value.defaultValue == option.value">
			{{ option.label }}
		</option>
	</select>
	<label
		[for]="control.id"
		*ngIf="control.label !== '' && labelPosition(control) == 'bottom'"
		[hidden]="control.options?.hidden == undefined ? false : control.options?.hidden"
		[class.form-check-label]="control.type === 'checkbox'">
		{{ control.label }} <small *ngIf="control?.validators?.required">*</small></label
	>
</div>
