<ng-container [formGroup]='form'>
     <textarea
       class='form-control'
       [formControlName]='controlName'
       [id]='control.id'
       [value]='control.value.defaultValue'
       [placeholder]='control.placeholder'
       [attr.hidden]="control.options?.hidden== true ? '' : null"
       [attr.disabled]="control.options?.disabled == true ? '' : null"
       [ngClass]="{ 'is-invalid': submitted && form.get(controlName)!!.invalid }"
       [attr.required]="control.validators?.required == true ? '' : null"
     ></textarea>

</ng-container>
